body * {
	margin: 10px auto;
	text-align: center;
}

 li {
 	list-style-type: none;
 }

 table, th, td {
 	border: grey 1px solid;
 }

 .cat {
	font-family: fantasy;
}

.secret {
	opacity: 0.5;
}

.cabbage {
	color: chartreuse;
}