body { text-align: center; }
.Elephant { font-family: fantasy; }
.secret { opacity: 0.5; }
li { list-style-type: none; }
table { margin: 0 auto; }
table, th, td { border-style: solid; border-width: 1px }